$gridColor: #ff8369;
$margin: 0;
$units: 26;
$contentSpace: $units - 2;
$moduleSide: 100vw/$units;
$maxWidth: 1920px;

@import 'reset';
@import url("https://use.typekit.net/ald5jdy.css");

// GENERAL

body {
  font-family: "Nassim Latin";
  font-size: 1.4em;
  line-height: 1.1;
}

.wrapper {
  margin: 0 auto;
  margin-top: 42px;
  max-width: $maxWidth;
}

a:not(.logotype) {
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  
  &:hover, &.active {
    border-color: black;
  }
}

h2, strong, .title {
  font-variant: all-small-caps;
}

p + p {
  text-indent: 1em;
}

img {
  display: block;
  max-height: 100%;
}


// HEADER NAVIGATION

header {
  text-align: center;
  margin-bottom: 50px;
  font-family: obviously-wide, sans-serif;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;

    a {
      display: block;
      text-transform: uppercase;
      letter-spacing: .2em;
      margin: 1.5em 0;
    }

    .logotype {
      margin: 0 80px;
    }

    svg {
      stroke-width: 2;
      stroke: black;
      width: 380px;

      &:hover {
        fill: $gridColor;
        stroke: $gridColor;
      }
    }
  }
}

// MAIN

main {
  position: relative;
}

// GRID

.grid, .grid-lock {
  display: grid;
  width: 100%;
  grid-gap: 1px;
}

.grid {
  padding-top: 1px;

  * {
    z-index: 9;
    overflow: hidden;
  }

  .project-card {
    grid-row-end: span 7;

    .project-info {
      background: white;
      padding: 10px;
      margin-top: 1px;
    }

    &:nth-child(-n + 3) {
      grid-row-start: 2;
    }
  }
}

.grid-lock {
  position: absolute;
  top: 0;
  background-color: $gridColor;
  border-top: 1px solid $gridColor;

  div {
    background-color: white;
  }
}

@mixin grid($columnTotal, $columns, $viewport: 100vw) {
  .grid, .grid-lock {
    grid-template-columns: repeat($columnTotal, 1fr);
    grid-template-rows: repeat(40, calc(#{$viewport}/#{$columnTotal})); // You need to change the for loop in home.php when changing this
  }

  .grid {
    .project-card {
      grid-column-end: span ($columnTotal - 2)/$columns;

      img {
        max-height: calc(100% - #{$viewport}/#{$columnTotal} * 1 - 1px);
      }

      .project-info {
        height: calc(#{$viewport}/#{$columnTotal} * 1);
      }

      &:nth-child(-n + #{$columns + 1}),
      &:nth-child(#{$columns + 1}n + 1) { // TODO
        grid-row-start: auto; // Resets where to start
        grid-column-start: auto;
      }

      &:nth-child(-n + #{$columns}) {
        grid-row-start: 2;
      }

      &:nth-child(#{$columns}n + 1) {
        grid-column-start: 2;
        grid-column-end: span ($columnTotal - 2)/$columns;
      }
    }
  }
}

@include grid(23, 3, $maxWidth);

// ABOUT

.about {
  .grid > section {
    grid-row-start: 2;

    &:not([class^="profile"]) {
      background-color: white;
    }
    
    div {
      padding: 1em;

    }

    &.about-me, &.contact {
      grid-row-end: span 6;
      grid-column: 3 / span 4;
    }

    &.contact {
      grid-row-start: auto;
      grid-row-end: span 2;

      p + p {
        text-indent: 0;
        margin-top: 1.1em;
      }
    }

    &.profile-01 {
      grid-column: 8 / span 4;
      grid-row-end: span 6;
    }
    
    &.profile-02 {
      grid-column: 13 / span 9;
      grid-row-end: span 6;
    }

    &.title {
      grid-column: 8;
      grid-row: 9 / span 10;
      justify-self: center;
      width: 100%;
      padding: 0;
      
      
      p {
        padding-top: 1em;
        height: 100%;
        margin: 0 auto;
        writing-mode: vertical-lr;
        padding-right: 6px;
      }
    }

    &.cv {
      padding: 0;
      display: grid;
      grid-column: 9 / span 11;
      grid-row: 9 / span 10;
      background-color: initial;

      .cv-entry {
        display: grid;
        grid-template-columns: 3fr 8fr;
        // background: ;
        // background-color: $gridColor;
        grid-gap: 3px;
        
        .date, .description {
          padding: 1em;
          background-color: white;
        }

        // .description {
        //   border-left: 1px solid $gridColor;
        // }

        &:not(:last-child) {
          border-bottom: 1px solid $gridColor;
        }
      }
    }


  }
}

@media screen and (max-width: $maxWidth) {
  @include grid(23, 3);
}

@media screen and (max-width: 1280px) {
  @include grid(16, 2);

  .about {
    .grid > section {
      &.about-me, &.contact {
        grid-column-start: 2;
      }

      &.profile-01 {
        grid-column: 7 / span 6;
        grid-row-end: span 9;
      }

      &.profile-02 {
        grid-row-start: 12;
        grid-column: 7 / span 9;
      }

      &.title {
        grid-column-start: 2;
        grid-row-start: 19;
      }

      &.cv {
        grid-column-start: 3;
        grid-row-start: 19;
      }
     }
  }
}

@media screen and (max-width: 860px) {
  @include grid(10, 1);

  body {
    font-size: 1.1em;
  }

  header {
    nav {
      font-size: 1rem;

      .logotype, .logotype svg {
        width: 100%;
        margin: 0;

        svg {
          padding: 0 30px;
          max-width: 500px;
        }
      }
    }
  }

  .grid {
    .project-card {
      grid-row-end: span 8;

      img {
        max-height: calc(100% - 100vw/10 * 2 - 2px);
      }

      .project-info {
        height: calc(100vw/10 * 2);
      }
    }
  }

  .about {
    .grid > section {
      &.about-me, &.contact {
        grid-column-end: 10;
      }

      &.profile-01, &.profile-02 {
        grid-row-start: auto;
        grid-column: 2 / span 8;
        margin-top: calc(100vw/10 + 1px);
      }

      &.profile-01 {
        grid-row-end: span 13;
      }

      &.profile-02 {
        grid-row-end: span 7;
      }
     }
  }
}